<div style='margin-left: 15%'>
    <div class='span8'>
        <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
              <div class="active item">
                  <img width="600" height="600" src="img/1.jpg"  alt="">
                  <div class="carousel-caption">
                      <span style="color: white">2000год аспирант кафедры Павлов И.В. в рамках работы над кандидатской диссертацией разработал всемирно известный архиватор 7-zip (http://www.7-zip.org)</span>
                  </div>
              </div>
              <div class="item">
                <img width="600" height="600" src="img/2.jpg" alt="">   
                <div class="carousel-caption">
                    <span style="color: white">2012год первый набор бакалавров по направлению 230700 «Прикладная информатика»</span>
                </div>
              </div>
              <div class="item">
                  <img width="600" height="600" src="img/3.jpg" alt="">
                  <div class="carousel-caption">
                      <span style="color: white">1990год создание кафедры Информатики на базе ВЦ УАИ</span>
                  </div>
              </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
        <script type="text/javascript" >
                    $(document).ready(function() {        
                $('.carousel').carousel();
                    });
        </script> 
    </div>
</div>