
                <h2 align="center">Направления и специальности</h2>
               
<br><br>
<div class="well">
    <h3 align="center">Бакалавриат</h3>

    <p><strong>Специальность: </strong></p>
    <p>230700.62 &ndash; &laquo;Прикладная информатика&raquo; (форма обучения: очная &ndash; 4 года, заочная сокращенная &ndash; 3,5 года)</p>
    <p><strong>Специализация:</strong></p>   
    <p>&laquo;<span style="text-decoration: underline;">Прикладная информатика в информационной сфере</span>&raquo;</p>
    <p>Бакалавр прикладной информатики &ndash; это аналитик, разработчик,&nbsp; организатор, управленец в сфере прикладных информационных технологий.</p>
    <p>Информационная сфера &ndash; это постоянно расширяющаяся область человеческой деятельности, связанная с разработкой и обслуживанием информационно-аналитических систем, ресурсов и технологий.</p>
    <p>К информационной сфере относятся научно-информационные центры, информационные сети, информационно-вычислительные и аналитические центры, подразделения по разработке систем управления предприятием, библиотеки и архивы, средства массовой информации. В целом &ndash; это индустрия создания, хранения, обработки и распространения информации во всех областях человеческой деятельности. В информационной сфере применяются профессионально-ориентированные информационные системы для реализации разнообразных задач в соответствии со спецификой предметной области.</p>
    <p>&nbsp;</p>
</div>

<div class="well">
    <h3 align="center">Специалитет</h3>

    <p><strong>Специальность: </strong></p>
    <p>220402.65 &ndash; &laquo;Специальные организационно-технические системы&raquo; (форма обучения - очная, срок обучения - 5 лет)</p>
    <p><strong>Специализация:</strong></p>
    <p>&laquo;<span style="text-decoration: underline;">Информационно-аналитическая деятельность в специальных организационно-технических системах</span>&raquo;</p>
    <p>Профессиональная подготовка специалистов позволяет им решать сложные задачи управления бизнес-процессами в проектировании, планировании, прогнозировании, оперативном и стратегическом управлении, реинжиниринге организационных и технических систем на основе современных компьютерных технологий и компьютерного моделирования.</p>
    <p>Выпускники являются ИТ-специалистами широкого профиля: программистами-аналитиками, менеджерами ИТ-проектов различной сложности, системными аналитиками.</p>
    <p>Знания и навыки выпускника по специальности 220402 позволяют ему эффективно работать в нефтегазовой, энергетической, транспортной, телекоммуникационной, машиностроительной, авиационно-космических отраслях, а также в органах административно-территориального управления и организациях финансово-экономической сферы.</p>
    <p><strong>&nbsp;</strong></p>
</div>

<div class="well">
    <h3 align="center">Магистратура</h3>

<div class="well">
    <p><strong>Специальность: </strong></p>
    <p>220400.68 &ndash; &laquo;Управление в технических системах&raquo;</p>
    <p><strong>Магистерская программа:</strong></p>
    <p>&laquo;<span style="text-decoration: underline;">Человеко-машинные системы управления</span>&raquo;</p>
    <p>Осуществляется подготовка высоко-квалифицированных специалистов и руководителей для работы в области проектирования, производства и эксплуатации интеллектуальных человеко-машинных систем управления в сфере информационных технологий, нефтегазодобывающих и перерабатывающих, телекоммуникационных, финансово-экономических, транспортных, энергетических,&nbsp; авиационных и космических комплексах.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
    
<div class="well">
    <p><strong>Специальность: </strong></p>
    <p>230100 &ndash; &laquo;Информатика и вычислительная техника&raquo;</p>
    <p><strong>Магистерская программа:</strong></p>
    <p>&laquo;<span style="text-decoration: underline;">Теоретическая информатика</span>&raquo;</p>
    <p>Осуществляется подготовка высоко-квалифицированных научных кадров для работ по созданию, внедрению и эксплуатации новых интеллектуальных наукоемких информационных технологий, программных систем, алгоритмов и вычислительных архитектур в современных организационно-технических системах.</p>
    <p>В рамках программы обеспечивается сочетание фундаментальной и теоретической подготовки в области информатики и использование передовых информационных технологий.</p>
    <p>&nbsp;</p>
</div>
    
<div class="well">
    <p><strong>Специальность: </strong></p>
    <p>230700 &ndash; &laquo;Прикладная информатика&raquo;</p>
    <p><strong>Магистерская программа:</strong></p>
    <p>&laquo;<span style="text-decoration: underline;">Реинжиниринг бизнес - процессов в организационно-технических системах</span>&raquo;</p>
    <p>Осуществляется подготовка высоко-квалифицированных аналитиков для работ по реинжинирингу (перепроектированию), созданию, модернизации, внедрению и моделированию бизнес-процессов в сложных организационно-технических системах на основе современных информационных технологий.</p>
    <p>В рамках программы обеспечивается сочетание теоретической и практической подготовки в области моделирования бизнес-процессов с изучением интеллектуальных методов оптимизации организационно-технических систем.</p>
    <p>&nbsp;</p>
</div>
</div>