
        <H2>О кафедре информатики</H2>
      
           
            О кафедре
            <ul>
                <li> 1990 – создание кафедры Информатики на базе ВЦ УАИ;              </li>
                <li>   1998 – первая защита кандидатской диссертации на кафедре;                 </li>
                <li>  1999 – первый прием студентов по специальности 230301 – 
                    «Моделирование и исследование операций в организационно-технических системах» (МС);
               </li>
                <li>  2000-2002 – аспирант кафедры Павлов И.В. в рамках работы над кандидатской диссертацией разработал всемирно известный архиватор 7-zip (http://www.7-zip.org);                  </li>
                <li>  2003 – переход к изучению технологии визуального объектно-ориентированного событийного программирования в рамках дисциплины «Информатика»;                  </li>

                <li> 2004 – переход к экзамену по дисциплине «Информатика» в форме компьютерного тестирования;<ul>
                        <li> – первый выпуск инженеров по специальности 230301 – «Моделирование и исследование операций в организационно-технических системах»; </li>  </ul>          
                <li>  2007 – защита кандидатской диссертации одного из первых выпускников кафедры по специальности 
                    230301 «Моделирование и исследование операций в организационно-технических системах» – Маргамова А.В.;    <li>  
                <li>  2007-2008 – участие кафедры в Инновационной образовательной программе университета в рамках Национального проекта «Образование» – сегмент УНИЦ «Проектирование и эксплуатация оптических межспутниковых коммуникаций» (проект разработки и запуска микроспутника «УГАТУСАТ»);                  </li>
                <li> 2009 – первый прием магистрантов на кафедру;<ul>
                        <li>  – защита двух докторских диссертаций доц. Зозулей Ю.И. и доц. Тарховым С.В.; </li> 
                        <li>– проведена международная конференция «Свободный полет» памяти Ю.С. Кабальнова;       </li>
                    </ul>               </li>
                <li>   2011 – открыта специальность 220402 «Специальные организационно-технические системы» (по ФГОС 3-го поколения), являющаяся преемницей специальности МС;              
                       </li>
                <li>  2012 – организован и проведен первый всероссийский конкурс выпускных квалификационных работ по специальности 230301 – «Моделирование и исследование операций в организационно-технических системах»;
        – первый набор бакалавров по направлению 230700 «Прикладная информатика» по профилю «Прикладная информатика в информационной сфере».   
                  </li>
            </ul>





         




