
<html>
    <head> <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
        <title>Фотоотчет с олимпиады по инфлрматике 2013</title>

        <link rel="stylesheet" href="../inc/gefest.css">
    </head>
</html> 
<frame>
    <frame name=k_header src="header.php" marginwidth=5 marginheight=0 scrolling=no frameborder=0 framespacing=1 noresize>
        <frame name=k_main_menu src="mainmenu.php" marginwidth=0 marginheight=0 scrolling=no frameborder=0 framespacing=0 noresize>
            <frame name=content src="introduce.php" marginwidth=5 marginheight=0 scrolling=auto frameborder=0 framespacing=1>
                <frame name=k_footer src="footer.php" marginwidth=5 marginheight=0 scrolling=no frameborder=0 framespacing=1 noresize>
                    </frame>