<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>КОНТАКТЫ</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div>Кафедра расположена по адресу: г. Уфа, ул. Карла Маркса, д. 12., 1-102
телефон: (347)273-78-76
email: informatic@ugatu.ac.ru</div>
    </body>
</html>
