<tr>
<td style="text-align: right;"><strong>Адрес: </strong></td>
<td>450000, Республика Башкортостан, г. Уфа, ул.К. Маркса, д. 12, корпус 1, аудитория 102,106</td>
</tr>
<tr>
<td style="text-align: right;"><strong>Заведующий кафедры: </strong></td>
<td>Валеев Сагит Сабитович</td>
</tr>
<tr>
<td style="text-align: right;"><strong>Телефон (городской): </strong></td>
<td><span>+7(347)273-78-76</span></td>
</tr>
<tr>
<td style="text-align: right;"><strong>Телефон (внутренний): </strong></td>
<td>44-37</td>
</tr>

