  <H2>Учебные, научные лаборатории и их оснащение</H2>
      
           
           
            <ul>
                <li> - Лекционная мультимедийная аудитория (1-121);
- 4 компьютерных класса (1-103, 1-108, 1-114, 1-112);  - Научно-исследовательская лаборатория «Проектирование виртуальных исследовательских комплексов» (1-110);
- Лаборатория моделирования систем жизнеобеспечения ОТС (1-112).
Оснащение:
– компьютерная техника, серверное оборудование, системы визуализации, лицензионное программное обеспечение:
3D-моделирование, разработка приложений реального времени и визуализации авиационно-космических и организационно-технических систем на основе технологий виртуальной реальности;
программное обеспечение CALS-технологий;
- многоагентная распределенная система моделирования сложных технических объектов и систем.
Блок дисциплин военной (специальной) подготовки и ряда специальных дисциплин реализуется на базе лабораторий военной кафедры университета и учебно-тренировочной площадки «Аэропорт».    </li>
                
                <li>   1998 – первая защита кандидатской диссертации на кафедре;                 </li>
                </ul>