<!--<H2>Учебные, научные лаборатории и их оснащение</H2>-->
            <H2 align="center">Лаборатории</H2>
           
     <br><br>      
    <ul>
        <div class="well">
            <H4>Учебные и научные лаборатории:</H4>
            <ul>
            <li> Лекционная мультимедийная аудитория (1-121);</li>
            <li> 4 компьютерных класса (1-103, 1-108, 1-114, 1-112);  </li>
            <li> Научно-исследовательская лаборатория «Проектирование виртуальных исследовательских комплексов» (1-110);</li>
            <li> Лаборатория моделирования систем жизнеобеспечения ОТС (1-112).</li>
            </ul>
        </div>

        <div class="well">
            <H4>Оснащение:</H4>
            <ul>
            <li> Компьютерная техника, серверное оборудование, системы визуализации, лицензионное программное обеспечение:
3D-моделирование, разработка приложений реального времени и визуализации авиационно-космических и организационно-технических систем на основе технологий виртуальной реальности;
программное обеспечение CALS-технологий;</li>
            <li> Многоагентная распределенная система моделирования сложных технических объектов и систем.
Блок дисциплин военной (специальной) подготовки и ряда специальных дисциплин реализуется на базе лабораторий военной кафедры университета и учебно-тренировочной площадки «Аэропорт».</li> 
            </ul>
        </div>
                
    </ul>