<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Направление подготовки магистра</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div>НАПРАВЛЕНИЕ ПОДГОТОВКИ   МАГИСТРА
230700 – Прикладная информатика
Магистерская программа
Реинжиниринг бизнес-процессов в ОТС
Присваиваемая квалификация – магистр прикладной информатики
Срок подготовки магистра – 2 года
Цели программы
Подготовка высококвалифицированных аналитиков для работы в области создания, модернизации, внедрения и моделирования бизнес-процессов в сложных организационно-технических системах на основе интеллектуальных наукоемких информационных технологий, инструментальных и программных систем, методологий моделирования ключевых процессов функционирования организационно-технических систем.
Особенности программы
сочетание теоретической и практической подготовки в области моделирования бизнес-процессов с изучением интеллектуальных методов оптимизации организационно-технических систем;
углубленное изучение математических, аналитических и информационных моделей и методов реинжиниринга бизнес-процессов;
инновационный характер обучения, основанный на использовании современных систем визуализации и моделирования, исследовании и оптимизации бизнес-процессов в организационно-технических системах с целью повышения их эффективности;
изучение передовых международных и отечественных научных подходов в области реинжиниринга бизнес-процессов.
Краткая аннотация на ГОС
Сущность и принципы реинжиниринга бизнес-процессов. Организационная структура предприятия на основе управления бизнес-процессами. Использование информационных технологий в реинжиниринге бизнес-процессов. Организация работ по реинжинирингу бизнес-процессов. Методологии моделирования бизнес-процессов; методология функционального моделирования бизнес–процессов. Стоимостной анализ функций бизнес-процессов (ABC анализ). Объектно-ориентированное моделирование бизнес-процессов. Имитационное моделирование бизнес-процессов. Инструментальные средства моделирования, их классификация и основные характеристики. Внедрение информационных технологий управления предприятием, как средство реинжиниринга бизнес-процессов.
Содержание магистерской программы
Дисциплины общенаучного цикла:
Философские проблемы науки и техники;
Математическое моделирование;
Математические и инструментальные методы поддержки принятия решений.
Дисциплины пофессионального цикла:
Деловой иностранный язык;
Информационное общество и проблемы прикладной информатики;
Методология и технология проектирования информационных систем.
Дисциплины по выбору магистранта:
Объектно-ориентированное моделирование бизнес-процессов в организационно-технических системах;
Имитационное моделирование бизнес-процессов в организационно-технических системах;
Инструментальные средства моделирования бизнес-процессов.
Преподавательский состав
Руководитель программы – Валеев С.С., доктор технических наук, профессор, заведующий кафедрой информатики Уфимского государственного авиационного технического университета.
Магистерская программа реализуется преподавателями кафедры информатики и других кафедр УГАТУ, а также высококвалифицированными специалистами-практиками из научно-производственных предприятий и организаций региона.
В числе преподавателей 2 доктора технических наук, имеющих значительный опыт научной, педагогической деятельности и практической работы в научно-производственной сфере.
Сайт кафедры информатики: http://inf.ugatu.ac.ru
Перечень заинтересованных работодателей
Международные аэропорты «Уфа», «Шереметьево» и др.;
Авиакомпании «Аэрофлот», S7, ЮТЭйр, ТРАНСАЭРО и др.;
Транспортные компании ОАО РЖД, ГУП «Башавтотрнас» и др.;
Административно-территориальные органы власти и управления;
Предприятия топливно-энергетического комплекса ОАО Башкирэнерго, ОАО Нефтеавтоматика и др.;
Крупные курьерские службы DHL, PONY, EMS-гарантпост и др.;
Компании АйТи, БашТехИнформ, UfaNET и др.</div>
    </body>
</html>
