<style>
p{
        text-indent: 15px;
      }
</style>
<H2 align="center">Направления научной работы</H2>
<br><br>

<div class="well">

<h4>Научные исследования кафедры проводятся по следующим направлениям:</h4><br />
<i>
<ul>
	<li>интеллектуальные информационные системы реального времени на основе концепции многомерных баз и банков данных;</li>
	<li>координационное управление в мультиагентных системах;</li>
	<li>автоматизированное сетевое и дистанционное обучение;</li>
	<li>экспертные системы с многовариантными механизмами логического вывода;</li>
	<li>мониторинг образовательной деятельности региона;</li>
	<li>объектно-ориентированное проектирование информационных систем;</li>
	<li>модели и алгоритмы  диагностики инженерных сетей;</li>
	<li>планирование и управление учебным процессом в образовательных системах;</li>
	<li>оптимизация структуры управления обособленными  образовательными системами.</li>
</ul>
</i>
<br>

    <p>Научные направления и решаемые проблемы соответствуют содержанию учебного процесса кафедры и научным проблемам подготовки специалистов.
    За период с 1999 по 2009 гг. на кафедре защищено 2 докторские и 17 кандидатских диссертаций.
    Кафедра информатики ежегодно принимает участие в выполнении федеральных и региональных научно-технических программ. За период с 1999 по 2009 гг. научные исследования проводились в рамках грантов и программ  по следующим проектам:</p>
<ul>
     <i><li type="circle">в 1998-2000 гг. по теме "Информатика, управление  в  технических системах,  автоматизированные системы и вычислительная техника", раздел:  «Проектирование многомерных баз данных  для информационных  систем поддержки принятия решений» в рамках тематического плана госбюджетных НИР;</li>
	<li type="circle">в 2001 г. по теме “Разработка интеллектуальной информационно обучающей среды для открытого образования” в рамках тематического плана госбюджетных НИР;</li>
	<li type="circle">в 2002 г. по теме «Разработка информационно-образовательной среды региона на примере Республики Башкортостан», раздел «Разработка теоретических основ и нормативных принципов организации управления в информационно-образовательных средах региональных систем дистанционного обучения» в рамках тематического плана госбюджетных НИР;</li>
	<li type="circle">в 2002 г. в рамках научно-технической программы МО РФ «Создание системы открытого образования» по теме «Разработка модели организации учебного процесса на виртуальной кафедре в системе открытого образования с использованием технологии искусственного интеллекта и Интернет-технологий» в рамках тематического плана госбюджетных НИР;</li>
	<li type="circle">в 1998-1999 гг. с научно-техническим центром  «Сигнал» по теме "Разработка и внедрение системы принятия решений интегрированной АСУ ТП электроснабжения и ППД" на хозрасчетной основе;</li>
	<li type="circle">в 2003 г. с Ново-Уфимским НПЗ  по теме «Создание АРМ дежурного химика-оператора» на хозрасчетной основе;</li>
	<li type="circle">в 2006 г. с УГНТУ  по теме «Разработка тестовых заданий по "Информатике"» на хозрасчетной основе;</li>
	<li type="circle">в 2007-2008 гг., кафедра стала участником Инновационной образовательной программы университета, реализуемой в рамках Национального проекта "Образование". Работы проводились под руководством проф. Кабальнова Ю.С. по теме «Информационная поддержка систем жизнеобеспечения космических аппаратов»;</li>
	<li type="circle">в 2008-2009 гг. с ООО «Иждриллнордэкс» (г. Нефтекамск) и АТП «Востокнефтепроводстрой» по теме «Разработка интерактивных информационно-справочных систем и обучающих модулей»;</li>
	<li type="circle">в 2008-2009 гг. с ОАО «Солитон» по теме «Разработка программного обеспечения для линейных блоков аппаратуры связи».</li>
</i>
</ul>
</div>