<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div>Научная работа
Научные исследования кафедры проводятся по следующим направлениям:<br />
○	интеллектуальные информационные системы реального времени на основе концепции многомерных баз и банков данных;<br />
○	координационное управление в мультиагентных системах;<br />
○	автоматизированное сетевое и дистанционное обучение;<br />
○	экспертные системы с многовариантными механизмами логического вывода;<br />
○	мониторинг образовательной деятельности региона;<br />
○	объектно-ориентированное проектирование информационных систем;<br />
○	модели и алгоритмы  диагностики инженерных сетей;<br />
○	планирование и управление учебным процессом в образовательных системах;<br />
○	оптимизация структуры управления обособленными  образовательными системами.<br />
Научные направления и решаемые проблемы соответствуют содержанию учебного процесса кафедры и научным проблемам подготовки специалистов.
За период с 1999 по 2009 гг. на кафедре защищено 2 докторские и 17 кандидатских диссертаций.
Кафедра информатики ежегодно принимает участие в выполнении федеральных и региональных научно-технических программ. За период с 1999 по 2009 гг. научные исследования проводились в рамках грантов и программ  по следующим проектам:
o	в 1998-2000 гг. по теме "Информатика, управление  в  технических системах,  автоматизированные системы и вычислительная техника", раздел:  «Проектирование многомерных баз данных  для информационных  систем поддержки принятия решений» в рамках тематического плана госбюджетных НИР;
o	в 2001 г. по теме “Разработка интеллектуальной информационно обучающей среды для открытого образования” в рамках тематического плана госбюджетных НИР;
o	в 2002 г. по теме «Разработка информационно-образовательной среды региона на примере Республики Башкортостан», раздел «Разработка теоретических основ и нормативных принципов организации управления в информационно-образовательных средах региональных систем дистанционного обучения» в рамках тематического плана госбюджетных НИР;
o	в 2002 г. в рамках научно-технической программы МО РФ «Создание системы открытого образования» по теме «Разработка модели организации учебного процесса на виртуальной кафедре в системе открытого образования с использованием технологии искусственного интеллекта и Интернет-технологий» в рамках тематического плана госбюджетных НИР;
o	в 1998-1999 гг. с научно-техническим центром  «Сигнал» по теме "Разработка и внедрение системы принятия решений интегрированной АСУ ТП электроснабжения и ППД" на хозрасчетной основе;
o	в 2003 г. с Ново-Уфимским НПЗ  по теме «Создание АРМ дежурного химика-оператора» на хозрасчетной основе;
o	в 2006 г. с УГНТУ  по теме «Разработка тестовых заданий по "Информатике"» на хозрасчетной основе;
o	в 2007-2008 гг., кафедра стала участником Инновационной образовательной программы университета, реализуемой в рамках Национального проекта "Образование". Работы проводились под руководством проф. Кабальнова Ю.С. по теме «Информационная поддержка систем жизнеобеспечения космических аппаратов»;
o	в 2008-2009 гг. с ООО «Иждриллнордэкс» (г. Нефтекамск) и АТП «Востокнефтепроводстрой» по теме «Разработка интерактивных информационно-справочных систем и обучающих модулей»;
o	в 2008-2009 гг. с ОАО «Солитон» по теме «Разработка программного обеспечения для линейных блоков аппаратуры связи».
</div>
    </body>
</html>
