
<p>&nbsp;</p>
<p><strong><a name="pps"></a><span style="text-decoration: underline;">Характеристика преподавательского состава</span></strong></p>
<table class="table table-striped">
<tbody>
<tr>
  <td width="10" >
<p>#</p>
</td>
<td width="105" valign="top">
<p>ФИО</p>
</td>
<td width="72" valign="top">
<p>Должность</p>
</td>
<td width="59" valign="top">
<p>Науч. Ст.</p>
</td>
<td width="77" valign="top">
<p>Уч. звание</p>
</td>
</tr>
<tr>
      <td>1</td>
<td width="105" valign="top">
<p>Валеев Сагитт Сабитович</p>
</td>
<td width="72" valign="top">
<p>зав. кафедрой</p>
</td>
<td width="59" valign="top">
<p>д.т.н.</p>
</td>
<td width="77" valign="top">
<p>профессор</p>
</td>
</tr>
<tr>
<td>2</td>
    <td width="105" valign="top">
<p>Тархов Сергей Владимирович</p>
</td>
<td width="72" valign="top">
<p>профессор</p>
</td>
<td width="59" valign="top">
<p>д.т.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
    <td>3</td>
<td width="105" valign="top">
<p>Каримов Ринат Равильевич</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
    <td>4</td>
<td width="105" valign="top">
<p>Кузьмина Елена Алексеевна</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
    <td>5</td>
<td width="105" valign="top">
<p>Минасов Шамиль Маратович</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
    <td>6</td>
<td width="105" valign="top">
<p>Кондратьева Наталья Владимировна.</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
    <td>7</td>
<td width="105" valign="top">
<p>Уразбахтин Рустем Нурович</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
    <td>8</td>
<td width="105" valign="top">
<p>Шехтман Лидия Ивановна</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.ф.-м.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
    <td>9</td>
<td width="105" valign="top">
<p>Минасова Наталья Сергеевна</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
    <td>11</td>
<td width="105" valign="top">
<p>Низамова Гузель Фанисовна</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
    <td>11</td>
<td width="105" valign="top">
<p>Карчевская Маргарита Петровна</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
    <td>12</td>
<td width="105" valign="top">
<p>Рамбургер Ольга Леонардовна</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
    <td>13</td>
<td width="105" valign="top">
<p>Масленников Виталий Александрович</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<!--<tr>
<td width="105" valign="top">
<p>Левков А.А.</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>-->
<tr>
    <td>14</td>
<td width="105" valign="top">
<p>Бакусов Леонид Михайлович</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
    <td>15</td>
<td width="105" valign="top">
<p>Сергеев Анатолий Николаевич</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
    <td>16</td>
<td width="105" valign="top">
<p>Маргамов Александр.Валерьевич</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
    <td>17</td>
<td width="105" valign="top">
<p>Смирнова Елена Александровна</p>
</td>
<td width="72" valign="top">
<p>ст.преп.</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
    <td>18</td>
<td width="105" valign="top">
<p>Хамзина Елена Александровна</p>
</td>
<td width="72" valign="top">
<p>ст.преп.</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
    <td>19</td>
<td width="105" valign="top">
<p>Гарифуллина Наталья Анатольевна</p>
</td>
<td width="72" valign="top">
<p>ст.преп.</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
    <td>20</td>
<td width="105" valign="top">
<p>Ямилова Лина Рафаэльевна</p>
</td>
<td width="72" valign="top">
<p>ст.преп.</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
    <td>21</td>
<td width="105" valign="top">
<p>Тарновецкая Вера Петровна</p>
</td>
<td width="72" valign="top">
<p>ст.преп.</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<!--<tr>
<td width="105" valign="top">
<p>Ковтуненко А.С.</p>
</td>
<td width="72" valign="top">
<p>ассистент</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>-->
<tr>
    <td>22</td>
<td width="105" valign="top">
<p>Милушкина Светлана Сергеевна</p>
</td>
<td width="72" valign="top">
<p>ассистент</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
    <td>23</td>
<td width="105" valign="top">
<p>Адгамова Гульнара Хаерзамановна</p>
</td>
<td width="72" valign="top">
<p>ассистент</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
    <td>24</td>
<td width="105" valign="top">
<p>Ковтуненко Алексей Сергеевич</p>
</td>
<td width="72" valign="top">
<p>ассистент</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>

   