
<p>&nbsp;</p>
<p><strong><a name="pps"></a><span style="text-decoration: underline;">Характеристика ППС</span></strong></p>
<table class="table table-striped" >
<tbody>
<tr>
<td width="105" valign="top">
<p>ФИО</p>
</td>
<td width="72" valign="top">
<p>Должность</p>
</td>
<td width="59" valign="top">
<p>Науч. Ст.</p>
</td>
<td width="77" valign="top">
<p>Уч. звание</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Валеев С.С.</p>
</td>
<td width="72" valign="top">
<p>зав. кафедрой</p>
</td>
<td width="59" valign="top">
<p>д.т.н.</p>
</td>
<td width="77" valign="top">
<p>профессор</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Тархов С.В.</p>
</td>
<td width="72" valign="top">
<p>профессор</p>
</td>
<td width="59" valign="top">
<p>д.т.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Каримов Р.Р.</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Кузьмина Е.А.</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Минасов Ш.М.</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Кондратьева Н.В.</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Уразбахтин Р.Н.</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Шехтман Л.И.</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.ф.-м.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Минасова Н.С.</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Низамова Г.Ф.</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Карчевская М.П.</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Рамбургер О.Л.</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Масленников В.А.</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Левков А.А.</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Бакусов Л.М.</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Сергеев А.Н.</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>доцент</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Маргамов А.В.</p>
</td>
<td width="72" valign="top">
<p>доцент</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Смирнова Е.А.</p>
</td>
<td width="72" valign="top">
<p>ст.преп.</p>
</td>
<td width="59" valign="top">
<p>к.т.н.</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Хамзина Е.А.</p>
</td>
<td width="72" valign="top">
<p>ст.преп.</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Гарифуллина Н.А.</p>
</td>
<td width="72" valign="top">
<p>ст.преп.</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Ямилова Л.Р.</p>
</td>
<td width="72" valign="top">
<p>ст.преп.</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Тарновецкая В.П.</p>
</td>
<td width="72" valign="top">
<p>ст.преп.</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Ковтуненко А.С.</p>
</td>
<td width="72" valign="top">
<p>ассистент</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Милушкина С.С.</p>
</td>
<td width="72" valign="top">
<p>ассистент</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Адгамова Г.Х.</p>
</td>
<td width="72" valign="top">
<p>ассистент</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="105" valign="top">
<p>Калинина А.Л.</p>
</td>
<td width="72" valign="top">
<p>ассистент</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>

   